html,body {
    font-family: $base-font-family;
    font-size: $base-font-size;
    background-color: #161616;
    color: $text-color;
}

h1, h2, h3, h4 {
  font-family: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: $grey-color !important;
}

h1 {
   font-size: 1.8em !important;
}
h2 {
   font-size: 1.4em !important;
}
h3 {
   font-size: 1.2em !important;
}
h3 {
   font-size: 1.1em !important;
}

dt, dt a{
  margin-left:0em;
  font-size: 1.0em;
  color: $text-color !important;
  clear: both;
}
dd, dd a{
  margin-left:4em;
  font-size: 0.8em;
  text-align:right;
  clear: both;
  color: $grey-color !important;
  padding-bottom: 0.5em;
}

.recentlist{
  border-top: 2px solid $text-color;
  margin-bottom: 0.5em;
}

.brand, .brand:hover, .brand:active, .brand:link, .brand:visited {
  font-family: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-decoration: none;
  padding: 0.2em;
  border: 1px solid rgba(250,255,250,.1);
  background: rgba(250,255,250,.02);
  border-radius: .2em;
  color: #5c5;
  font-size: 2em;
  box-shadow: 2px 2px 12px rgba(50,100,50,.2);
}

.brand:hover {
  border: 1px solid rgba(250,255,250,.2);
  box-shadow: 2px 2px 12px rgba(50,100,50,.8);
  background: rgba(250,255,250,.2);
}
.brand:active {
  border: 1px solid rgba(250,255,250,.5);
  box-shadow: 2px 2px 12px rgba(50,100,50,1);
  background: rgba(250,255,250,.2);
}

.navbut, .navbut:hover, .navbut:active, .navbut:link, .navbut:visited {
  font-family: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-decoration: none;
  padding: 0.0em;
  border: 1px solid rgba(250,255,250,.05);
  background: rgba(250,255,250,.02);
  border-radius: .2em;
  color: #5c5 !important;
}
.navbut:hover {
  border: 1px solid rgba(250,255,250,.2) !important;
  box-shadow: 2px 2px 12px rgba(50,100,50,.8) !important;
  background: rgba(250,255,250,.2) !important;
}
.navbut:active {
  border: 1px solid rgba(250,255,250,.5) !important;
  box-shadow: 2px 2px 12px rgba(50,100,50,1) !important;
  background: rgba(250,255,250,.2) !important;
}


.navbar-default {
    border-color: transparent;
    background-color: transparent;
    padding: 10px 0;
    border-bottom: 1px solid #eee;
}



img {
  max-width: 100%;
  border: 1px solid $grey-color;
  box-shadow: 2px 2px 12px rgba(50,100,50,.4);
  margin-bottom: 1em;
  border-radius: 0.5em;
}

img.idx {
    max-width: 40%;
    max-height: 400px;
}

div.idx{
    max-width: 12em;
    @media screen and (max-width: 50em) {
        max-width: 99%;
    }
}

.mt50 {
    margin-top: 50px;
}
.mt20 {
    margin-top: 20px;
}

.mt10 {
    margin-top: 10px;
}
.mt25 {
    margin-top: 0;
    @include media-query($on-palm) {
        margin-top: 25px;
    }
}

.p20{
    padding: 20px 0;
}
.navbar-brand {
    font-weight: 900;
    font-size: 1.85em;
    padding: 10px;
    margin-left: 15px !important;
    @media screen and (max-width: $on-palm) {
        font-size: 1.5em;
    }
}
.post-meta {
    color: $grey-color;
}

.panel {
    margin-bottom: 2em;
   border: none;
   padding: 0.6em 0.6em;
   border-radius: 1em;
   background: rgba(255,255,255,0.02);
   box-shadow: 2px 2px 12px rgba(50,100,50,.2);
   transition: all 0.3s ease;
    &:hover, &:focus {
      box-shadow: 2px 2px 12px rgba(50,100,50,.8); background: rgba(255,255,255,0.06);
    }
    &:active {
      box-shadow: 2px 2px 12px rgba(50,100,50,1);
      background: rgba(255,255,255,0.16);
    }
}




footer {
    border-top: 1px solid $grey-color-light;
}

.social {
    list-style: none;
    display: inline;
    margin-left: 10px;
    padding: 5px 8px;
    font-size: 1.25em;
    }
.social:hover {
     opacity: 0.7;
}
.social img {
    width: 20px;
}

.quora img{
    width: 17px;
}

.facebook img {
    width: 16px;
}

.recent ul {
    list-style: none;
    padding: 0;
    text-align: justify;
}

.recent {
    padding: 10px;
    border: 1px solid $grey-color-light;
    border-radius: .3em;
}

.sidebar-profile-content h2 {
    margin-top: 0;
}

.sidebar-profile-content {
    padding: 10px;
    border: 1px solid $grey-color-light;
}

.sidebar-profile-content ul {
    padding: 0;
    margin-left: 15px;
    margin-bottom: 0;
    text-align: justify;
}

.sidebar-profile-content ul li {
    height: 30px;
}

.post-img img {
    width: 100%;
}


.pack {


    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
}

.card {
    float: none;
}

.post-title {
    line-height: 2;
    text-decoration: underline;
}


.post-header h1 {
    margin-top: -10px;
}

.index-anchor {
    text-decoration: none;
    color: $text-color;
    &:hover {
            text-decoration: none;
            color: $text-color;
    }
}

article.post {
    margin-bottom: 5em;
}
